apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: ai-platform-demo-sm
  labels:
    release: prometheus-stack
spec:
  selector:
    matchLabels:
      app: ai-platform-demo-gpu
  namespaceSelector:
    matchNames:
      - default
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
